*.sdf
TestResults
Debug
Release
*/publish/**
_bin_deployableAssemblies
App_Data
packages
Irony
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db
*.vsp
*.psess
*.testsettings
*.vsmdi
*.csproj.swp
*/SlowCheetah.Transforms.targets
*~